/* The main background */
body{
    background-color: #000000; 
    color:rgb(0, 0, 0);
    }

    svg{
        fill:white;
    }

.card{
    background-image:url("images/cardbacking.png");
    width:468px;
    height:252px;
    background-size:cover; 
    margin: auto;
    top: 50%;
    transform: translateY(+50%);

}




    
    