/* The main background */
body{
    background-color: #000000; 
    color:rgb(0, 0, 0);
    }

    svg{
        fill:white;
    }

.card{
    background-image:url("images/cardbacking.png");
    width:468px;
    height:252px;
    background-size:cover; 
    margin: auto;
    top: 50%;
    transform: translateY(+50%);

}
@font-face {
    font-family: 'customfont'; src: url(fonts/VTKSSMASH.ttf);
}
h1 {
    font-family: 'customfont', sans-serif;
    font-size: 80px;
    letter-spacing: 2px;
}
h2{
    font-family: Allerta Stencil;
    font-size: 20px;
}
li{ 
    font-family: alata;
    font-size: 15px;
    list-style-type: none;
}


    
    