/* The main background */
body{
    background-color: #000000; 
    color:rgb(0, 0, 0);
    }

    svg{
        fill:white;
    }

.card{
    background-image:url("images/cardbacking.png");
    width:936px;
    height:503px;
    background-size:cover; 
}



    
    